@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  overflow-x: hidden;
  color: #2d3748;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  width: 3px;
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #0fbf44;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #05862c;
  border-radius: 10px;
}

.swiper-pagination-bullet {
  background: #0fbf44;
}

.swiper-pagination-bullet-active {
  background: #0fbf44;
}

.swiper-button-next,
.swiper-button-prev {
  color: #0fbf44;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: xx-large;
  color: #0fbf44;
}

@media only screen and (max-width: 780px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
}

.swiper-container-horizontal > .swiper-scrollbar {
  background-color: #eeeeee;
}

a {
  font-size: 14px;
  font-weight: 500;
}

.semibold {
  font-weight: 700;
}
