@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  width: 3px;
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(175, 175, 175, 0.8);
  border-radius: 10px;
}

.swiper-pagination-bullet {
  background: #0fbf44;
}

.swiper-button-next,
.swiper-button-prev {
  color: #0fbf44;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: xx-large;
}

@media only screen and (max-width: 780px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
}

a {
  font-size: 14px !important;
  font-weight: 500;
}
